h1 {color: #fff9e6; 
	font-family: "Honey Script"; 
	font-weight: 100; 
	font-size: 350px;
	text-align: center;	
	}

p {text-align: center;
	font-family: "Helvetica Neue";
	font-weight: 100;
	font-size: 50px;
	color: #ffffff;

}

ul {text-align: center;
	font-family: "Helvetica Neue";
	font-weight: 100;
	font-size: 50px;
	color: #ffffff;

}